@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #c48b7a;
    color: rgb(231, 231, 231);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.bg-home {
  height: 100vh;
  background-image: url("../public/desk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-home.bg-main {
  background-image: url("../public/main.png");
}

.bg-home.bg-main.bg-game {
  background-image: url("../public/bg-game.png");
}


.btn-home {
  top: 25%;
  left: 60%;
}

.btn-back {
  top: 5%;
  right: 10%;
}

.btn-start {
  top: 35%;
  left: 47%;
}

.dosis-font {
  font-family: 'Dosis', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (max-width: 767px) {
  .bg-home-mobile {
    background-image: url("../public/Pickme.png");
  }
  .btn-start {
    top: 25%;
    left: 41.5%;
  }
}
