@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #FDE3AC;
  --dark-yellow-color: #DF964A;
  --red-color: #94221E;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--yellow-color);
  color: var(--red-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-yellow {
  background-color: var(--yellow-color);
}

.bg-red {
  background-color: var(--red-color);
}

.txt-yellow {
  color: var(--yellow-color);
}

.txt-red {
  color: var(--red-color);
}

.txt-dark-yellow {
  color: var(--dark-yellow-color);
}

.bg-home {
  height: 100vh;
  background-image: url("../public/desk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-home.bg-main {
  background-image: url("../public/main.png");
}

.bg-home.bg-main.bg-game {
  background-image: url("../public/bg-game.png");
  background-color: #4c4434;
}


.btn-home {
  top: 64%;
  left: 46.6%;
}

.btn-back {
  top: 5%;
  right: 10%;
}

.btn-start {
  top: 66%;
  left: 46%;
}

.dosis-font {
  font-family: 'Dosis', sans-serif;
}

/* START: Random page */
.btn-start-game {
  padding-left: 45%;
  padding-top: 120px;
}

.marquee-wrapper {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 100% - 250px;
}

.marquee-wrapper .marquee-item {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-winner {
  background-image: url("../public/congrat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.winner-alert {
  width: 100%;
  height: 380px;
  margin: auto;
  position: absolute;
  z-index: 100;
  text-align: center;
  padding-top: 210px;
  margin-top: 10%;
}

.btn-game-start {
  z-index: 100;
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: xx-large;
}

.bg-home.bg-main.bg-disable {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.62), rgba(10, 10, 10, 0.73)), url('../public/main.png');
  background-color: var(--yellow-color);
}

.winner-font {
  font-family: 'Sofia';
}

.text-name {
  font-size: 56px;
}

.loader {
  position: absolute;
  top: 40%;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #db4734;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* END: Random page */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@media screen and (max-width: 767px) {
  .bg-home-mobile {
    background-image: url("../public/Pickme.png");
  }

  .btn-start {
    top: 25%;
    left: 41.5%;
  }

  .btn-home {
    top: 15%;
    left: 39.6%;
  }
}